<div class="row mb-1 custom-border md-1 mt-1" *ngFor="let lieux of listelieux | paginate: { itemsPerPage: 3, currentPage: page,
    totalItems:totalLength}">
 
 <div class="col-md-4 custom-border-right">
    <header><h3 class="text-center">Details</h3> </header>
    <div class="col">
        <div class="row">
            <div class="col-md-1">
                <i class="fa-solid fa-location-dot blue-color"></i></div>
             <div class="col-md-11">{{lieux.nom}}</div>
        </div>
    
        <div class="row">
            <div class="col-md-1">
                <i class="fas fa-right-long blue-color"></i></div>
             <div class="col-md-11">{{lieux.latitude}}</div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <i class="fas fa-up-long blue-color"></i></div>
             <div class="col-md-11">{{lieux.longitude}}</div>
        </div>
       
       
     </div>
  </div>
  <!--details Specialite-->
        <div class="col-md-4 custom-border-right">
            <header><h3 class="text-center">Adresse</h3> </header>
      <div class="col">
        <div class="row">
            <div class="col-md-1">
                <i class="fa-solid fa-map-location-dot btn-link blue-color"></i></div>
             <a class="col-md-10" href="{{lieux.location}}">localisation </a>
        </div>
      </div>
        </div>

          <!--les bouttons acton-->
        <div class="col-md-3">
            <div class="row">
         <div class="col-md-4">
            <button type="button" class="btn btn-link" [routerLink]="['/nouvellieux']">
                <i class="fas fa-pencil-alt"></i>&nbsp;Modifier
            </button>
        </div> 
         <div class="col-md-4">
            <button type="button" class="btn btn-link">
                <i class="fas fa-trash-alt"></i>&nbsp;Supprimer
            </button>
         </div>
      
        </div>
      </div>  
</div>

<pagination-controls (pageChange)="page=$event"> </pagination-controls>


