<div class="btn-group" role="group" aria-label="Basic exemple">
    <button type="button" class="btn btn-ligth">
        <i class="fas fa-angle-double-left"></i>
    </button>
    <button type="button" class="btn btn-ligth">
        <i class="fas fa-angle-left"></i>
    </button>
    <button type="button" class="btn btn-ligth">1</button>
    <button type="button" class="btn btn-ligth">2</button>
    <button type="button" class="btn btn-ligth">3</button>
    <button type="button" class="btn btn-ligth">4</button>
    <button type="button" class="btn btn-ligth">5</button>
    <button type="button" class="btn btn-ligth">6</button>
    <button type="button" class="btn btn-ligth">
        <i class="fas fa-angle-right"></i>
    </button>
    <button type="button" class="btn btn-light">
        <i class="fas fa-angle-double-right"></i>
    </button>
</div>
